* {
    margin: 0;
    padding: 0;
}

.jumbotron h1 {
    font-size: 60px;
    text-align: center;
    color: rgb(226, 226, 226);
    letter-spacing: 8px;
}

.jumbotron {
    background: rgb(175, 175, 175) !important;
}

#main p{
    text-align: center;
    font-size: 50px;
}

#main {
    width: 100%;
}