body {
    background: rgb(243, 233, 143);
    color: rgb(66, 65, 65);
}

.flex-container {    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}


img {
    width: 90%;
    height: 90%;
    margin: 2em 0 2em 0;
    border: solid black 5px;
}

ul {
    margin-bottom: 10%;
    width: 25%;
}

.title, .language, .author {
    text-align: center;
    font-family: 'Prata', serif;
    font-size: 1.3em;
}

.title {
    font-size: 3em;
}

.language, .author {
    letter-spacing: 2px;
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
    ul {      
        width: 33%; 
    }
}

@media only screen and (max-width: 600px) {
    ul {
        width: 100%; 
    }  
}